<h1>Listing bipds</h1>

<table>
  <thead>
    <tr>
      <th>Medical</th>
      <th>Submission</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bipds.each do |bipd| %>
      <tr>
        <td><%= bipd.medical %></td>
        <td><%= bipd.submission %></td>
        <td><%= link_to 'Show', bipd %></td>
        <td><%= link_to 'Edit', edit_bipd_path(bipd) %></td>
        <td><%= link_to 'Destroy', bipd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bipd', new_bipd_path %>
