<h3 class="page-title">
	Insurance Rating<small> demonstration Ruby on Rails project</small>
</h3>
<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i>
		<a href="/">Home</a>
		<i class="icon-angle-left"></i> 
	</li>
	<li>
		<a href="/accounts">Accounts List</a>
	</li>
</ul>
<h1>Listing trucks</h1>

<table class="table-bordered table-striped table-condensed flip-content">
  <thead class="flip-content">
      <th>Type</th>
      <th>Territory</th>
      <th>Business use</th>
      <th>Fleet nonfleet</th>
      <th>Make</th>
      <th>Model year</th>
      <th>Cost new</th>
      <th>Age group</th>
      <th>Size class</th>
      <th>GVW</th>
      <th>GCW</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.type %></td>
        <td><%= truck.territory %></td>
        <td><%= truck.business_use %></td>
        <td><%= truck.fleet_nonfleet %></td>
        <td><%= truck.make %></td>
        <td><%= truck.model_year %></td>
        <td><%= number_to_currency(truck.cost_new) %></td>
        <td><%= truck.age_group %></td>
        <td><%= truck.size_class %></td>
        <td><%= truck.gvw %></td>
        <td><%= truck.gcw %></td>
        <td><%= link_to 'Show', truck %></td>
        <td><%= link_to 'Edit', edit_truck_path(truck) %></td>
        <td><%= link_to 'Destroy', truck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Truck', new_truck_path %>
