<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @truck.type %>
</p>

<p>
  <strong>Territory:</strong>
  <%= @truck.territory %>
</p>

<p>
  <strong>Business use:</strong>
  <%= @truck.business_use %>
</p>

<p>
  <strong>Fleet nonfleet:</strong>
  <%= @truck.fleet_nonfleet %>
</p>

<p>
  <strong>Make:</strong>
  <%= @truck.make %>
</p>

<p>
  <strong>Year:</strong>
  <%= @truck.year %>
</p>

<p>
  <strong>Cost new:</strong>
  <%= @truck.cost_new %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @truck.age_group %>
</p>

<p>
  <strong>Size class:</strong>
  <%= @truck.size_class %>
</p>

<p>
  <strong>Gvw:</strong>
  <%= @truck.gvw %>
</p>

<p>
  <strong>Gcw:</strong>
  <%= @truck.gcw %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
