<%= form_for :ttt_prop, remote: true do |f|%>
<div class="container-fluid">
	<!-- BEGIN FORM-->
	<form action="#" class="form-horizontal">
		<div class="row-fluid">
  
  <div class="form-horizontal form-view">
  	<h3 class="form-section">Address</h3>
  	<div class="row-fluid">
  		<div class="span12 ">
  			<div class="control-group">
  				<label class="control-label" >Street:</label>
  				<div class="controls">
  					<span class="text"><%= @submission.account.address %></span>
  				</div>
  			</div>
  		</div>
  	</div>
  	<div class="row-fluid">
  		<div class="span3 ">
  			<div class="control-group">
  				<label class="control-label" >City:</label>
  				<div class="controls">
  					<span class="text"><%= @submission.account.city %></span>
  				</div>
  			</div>
  		</div>
  		<!--/span-->
  		<div class="span3">
  			<div class="control-group">
  				<label class="control-label" >State:</label>
  				<div class="controls">
  					<span class="text"><%= @submission.account.state %></span>
  				</div>
  			</div>
  		</div>
  		<!--/span-->
  		<div class="span3 ">
  			<div class="control-group">
  				<label class="control-label" >Post Code:</label>
  				<div class="controls">
  					<span class="text"><%= @submission.account.zip %></span>
  				</div>
  			</div>
  		</div>
  	</div>
	
  	<h3 class="form-section">Risk Detail</h3>
	<!--row1-->
	<div class="row-fluid">
		<div class="span12 ">
			<div class="control-group">
				<label class="control-label">Territory Code:</label>
				<div class="controls">
					<%= @submission.detail.territory %>
				</div>
			</div>
		</div>
	</div>
	<!--span-->
	<div class="row-fluid">
		<div class="span6 ">
			<div class="control-group">
				<label class="control-label">Business Use:</label>
				<div class="controls">
					<%= @submission.detail.business_use %>
				</div>
			</div>
		</div>
	
		<div class="span6 ">
			<div class="control-group">
				<label class="control-label">Fleet/Non-Fleet:</label>
				<div class="controls">
					<%= @submission.detail.fleet_nonfleet %>
				</div>
			</div>
		</div>
	</div>
	<!--row2-->
	<div class="row-fluid">
		<!--span-->
		<div class="span6 ">
			<div class="control-group">
				<label class="control-label">Make:</label>
				<div class="controls">
					<%= @submission.detail.make %>
				</div>
			</div>
		</div>
		<!--span-->
		<div class="span6 ">
			<div class="control-group">
				<label class="control-label">Model Year:</label>
				<div class="controls">
					<%= @submission.detail.year %>
				</div>
			</div>
		</div>
	</div>
	<!--row3-->
	<div class="row-fluid">
		<div class="span6 ">
			<div class="control-group">
				<label class="control-label">Cost New:</label>
				<div class="controls">
					<span class="text">
						<%= number_to_currency(@submission.detail.cost_new) %>
					</span>
				</div>
			</div>
		</div>
		<!--/span-->
		<div class="span6 ">
			<div class="control-group">
				<label class="control-label">Age Group:</label>
				<div class="controls">
					<%= @submission.detail.age_group %>
				</div>
			</div>
		</div>
	</div>
	<!--row4-->
	<div class="row-fluid">
		<div class="span6 ">
			<div class="control-group">
				<label class="control-label" >Size Class:</label>
				<div class="controls">
					<%= @submission.detail.size_class %>			
				</div>
			</div>
		</div>
		<!--span-->
		<div class="span6 ">
			<div class="control-group">
				<label class="control-label" >Radius Class:</label>
				<div class="controls">
					<%= @submission.detail.radius_class %>	
				</div>
			</div>
		</div>
	</div>
	<!--row5-->
	<div class="row-fluid">
		<div class="span6 ">
			<div class="control-group">
				<label class="control-label">Gross Vehicle Weight:
				</label>
				<div class="controls">
					<%= @submission.detail.gvw %>
				</div>
			</div>
		</div>
		
		<div class="span6 ">
			<div class="control-group">
				<label class="control-label">Gross Comb. Weight:
				</label>
				<div class="controls">
					<%= @submission.detail.gcw %>
				</div>
			</div>
		</div>
	</div>
  </div>

<% end %>
