<%= form_for(@agent) do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% @agent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container-fluid">
	  <!-- BEGIN FORM-->
	  <form action="#" class="form-horizontal">
		  <h3 class="form-section">Agent Info</h3>
		  <div class="row-fluid">
			  <div class="span6 ">
				  <div class="control-group">
					  <label class="control-label">Contact Name</label>
					  <div class="controls">
						  <input type="text" class="m-wrap span12" <%= f.text_field :contact %> 
					  </div>
				  </div>
			  </div> 
			  <!--/span-->
			  <div class="span6 ">
				  <label class="control-label">Agency Name</label>
				  <div class="controls">
					  <input type="text" class="m-wrap span12"<%= f.text_field :name %>
				  </div>
			  </div>
		  </div>
		  <!--/row-->
		  <h3 class="form-section">Address</h3>
		  <div class="row-fluid">
			  <div class="span12 ">
				  <div class="control-group">
					  <label class="control-label">Street</label>
					  <div class="controls">
						  <input type="text" class="m-wrap span12"<%= f.text_field :address %>
					  </div>
				  </div>
			  </div>
		  </div>
		  <!--/row-->
		  <div class="row-fluid">
			  <div class="span6 ">
				  <div class="control-group">
					  <label class="control-label">City</label>
					  <div class="controls">
						   <input type="text" class="m-wrap span12"<%= f.text_field :city %>
					  </div>
				  </div>
			  </div>
			  <!--/span-->
			  <div class="span3 ">
				  <div class="control-group">
					  <label class="control-label" >State</label>
					  <div class="controls">
						  <select class="m-wrap span12"
						  <%= f.select :state, [ 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD','MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], :prompt => 'Select One' %>
						  </select>
					  </div>
				  </div>
			  </div>
			  <!--/span--> 
			  <div class="span3 ">
				  <div class="control-group">
					  <label class="control-label">Post Code</label>
					  <div class="controls">
						  <input type="text" class="m-wrap span12" <%= f.text_field :zip %>
					  </div>
				  </div>
			  </div>
			  <!--/span-->
		  </div>
		  <!--/row-->
		  <div class="form-actions">
			  <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
			  <button type="button" class="btn">Cancel</button>
		  </div>
	  </form>
	  <!-- END FORM--> 
  </div>
</div>       

<% end %>
