<h3 class="page-title">
	Auto Rating<small> demonstration Ruby on Rails project</small>
</h3>
<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i>
		<a href="/">Home</a> 
	</li>
</ul>
<p id="notice"><%= notice %></p>

<div class="form-horizontal form-view">
	<h3> View Agent Info -  <%= @agent.name %> </h3>
	<h3 class="form-section">Agent Info</h3>
	<div class="row-fluid">
		<div class="span6 ">
			<div class="control-group">
				<label class="control-label" for="firstName">Contact:
 </label>
				<div class="controls">
					<span class="text"> <%= @agent.contact %></span>
				</div>
			</div>
		</div>
		<!--/span-->
	</div>
	
	<!--/row-->
	<h3 class="form-section">Address</h3>
	<div class="row-fluid">
		<div class="span12 ">
			<div class="control-group">
				<label class="control-label" >Street:</label>
				<div class="controls">
					<span class="text"><%= @agent.address %></span>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span3 ">
			<div class="control-group">
				<label class="control-label" >City:</label>
				<div class="controls">
					<span class="text"><%= @agent.city %></span>
				</div>
			</div>
		</div>
		<!--/span-->
		<div class="span3">
			<div class="control-group">
				<label class="control-label" >State:</label>
				<div class="controls">
					<span class="text"><%= @agent.state %></span>
				</div>
			</div>
		</div>
		<!--/span-->
		<div class="span3 ">
			<div class="control-group">
				<label class="control-label" >Post Code:</label>
				<div class="controls">
					<span class="text"><%= @agent.zip %></span>
				</div>
			</div>
		</div>
	</div>
</div>		

</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
