<%= form_for(@premium) do |f| %>
  <% if @premium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@premium.errors.count, "error") %> prohibited this premium from being saved:</h2>

      <ul>
      <% @premium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comp_base %><br>
    <%= f.text_field :comp_base %>
  </div>
  <div class="field">
    <%= f.label :coll_base %><br>
    <%= f.text_field :coll_base %>
  </div>
  <div class="field">
    <%= f.label :otc_base %><br>
    <%= f.text_field :otc_base %>
  </div>
  <div class="field">
    <%= f.label :submission_id %><br>
    <%= f.text_field :submission_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
