<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container-fluid">
	  <!-- BEGIN FORM-->
	  <form action="#" class="form-horizontal">
		  <h3 class="form-section">Submission Info</h3>
		  
		  <!-- row 1 -->
 		  <div class="row-fluid">
 			  <div class="span4 ">
 				  <label class="control-label">Effective Date</label>
 				  <div class="input-group" data-datepicker="true">
 					  <input class="form-control" 
 					  <%= f.text_field :eff_date, :id => "effdate" %>
 					  <span class="input-group-addon">
 						  <i class="icon-calendar"></i></span>
 				  </div>
 			  </div>
			  
 			  <div class="span4 ">
 				  <label class="control-label">Expiration Date</label>
 				  <div class="input-group" data-datepicker="true">
 					  <input class="form-control"
 					  <%= f.text_field :exp_date, :id => "expdate" %>
 					  <span class="input-group-addon">
 						  <i class="icon-calendar"></i></span>
 				  </div>
 			  </div>
 		  </div>
		  
 		 <!-- row 2 -->
		 <div class="row-fluid">
			 <div class="span4 ">
				 <label class="control-label">Agent</label>
				 <div class="controls">
					 <select class="m-wrap span12"<%= @name = f.collection_select(:agent_id, Agent.all, :id, :name, options = {:prompt => 'Select One'}) %>
					 </select>
				 </div>
			 </div>
			 <!--/span-->
			 <div class="span4 ">
				 <div class="control-group">
					 <label class="control-label">Account</label>
					 <div class="controls">
						 <select class="m-wrap span12"<%= f.collection_select(:account_id, Account.all, :id, :name, options = {:prompt => 'Select One'} ) %> </select>
					 </div>
				 </div>
			 </div>
			 <!--/span-->
			 <div class="span4 ">
				 <div class="control-group" id="risk-option">
					 <label class="control-label">Risk</label>
					 <div class="controls">
						 <select class="m-wrap span12"<%= f.collection_select(:risk_id, Risk.all, :id, :risk, options = {:prompt => 'Select One'} ) %> </select>
					 </div>
				 </div>
			 </div>
		  </div>
	  </div>
	  
	  <!-- BEGIN ACCORDION PORTLET-->
	  <div class="portlet box green">
		  <div class="portlet-title">
			  <div class="caption"><i class="icon-reorder"></i>Processing Info</div>
			  <div class="tools">
				  <a href="javascript:;" class="collapse"></a>
			  </div>
		  </div>
		  <div class="portlet-body">
			  <div class="accordion" id="accordion1" style="height: content";>
				  <div class="accordion-group">
					  <div class="accordion-heading">
						  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1">
							  <i class="icon-angle-left"></i>
							  Risk Detail
						  </a>
					  </div>
					  <div id="collapse_1" class="accordion-body collapse in" style="height: 0px">
						  <div class="accordion-inner">
							 <%= render :partial => 'shared/details/details'%>
						  </div>
					  </div>
				  </div>
				  <div class="accordion-group">
					  <div class="accordion-heading">
						  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2">
							  <i class="icon-angle-left"></i>
							  Limits
						  </a>
					  </div>
					  <div id="collapse_2" class="accordion-body collapse" style="height: 0px">
						  <div class="accordion-inner">
							<%= render :partial => 'shared/limits/limits'%>
						  </div>
					  </div>
				  </div>
				  <div class="accordion-group">
					  <div class="accordion-heading">
						  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3">
							  <i class="icon-angle-left"></i>
							  Deductibles
						  </a>
					  </div>
					  <div id="collapse_3" class="accordion-body collapse" style="height: 0px">
						  <div class="accordion-inner">
							  <%= render :partial => 'shared/deductibles/deductibles'%>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
	  <!-- END ACCORDION PORTLET--> 
 

	  <!--/row-->
	  <div class="form-actions">
		  <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
		  <button type="button" class="btn">Cancel</button>
	  </div>
  </form>
  <!-- END FORM-->
</div>                               
<% end %>

