<%= form_for :pp_ded  do |f|%>
    <% if @deductible.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@deductible.errors.count, "error") %> prohibited this Private Passenger Deductible from being saved:</h2>
		
        <ul>
        <% @deductible.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>

<div class="container-fluid">
	<!-- BEGIN FORM-->
	<form action="#" class="form-horizontal">
		<div class="row-fluid">
			<!--/span-->
			<div class="span6 ">
				<div class="control-group">
					<label class="control-label" >Comprehensive</label>
					<div class="controls">
						<select class="m-wrap span12"
						<%= f.select :comp, [ 'Full', '50', '100'], :prompt => 'Select One' %></select>
					</div>
				</div>
			</div>
			<!--span-->
			<div class="span6 ">
				<div class="control-group">
					<label class="control-label" >Collision</label>
					<div class="controls">
						<select class="m-wrap span12"
						<%= f.select :coll, [ '100', '200', '250', '1000'], :prompt => 'Select One' %></select>
					</div>
				</div>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn blue", deductibles_path(submission_id: submission)><i class="icon-ok"></i> Save</button>
			<button type="button" class="btn">Cancel</button>
		</div>
	</form>
</div>  
<% end %>

