<%= form_for(@risk) do |f| %>
  <% if @risk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@risk.errors.count, "error") %> prohibited this risk from being saved:</h2>

      <ul>
      <% @risk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
	  <!-- BEGIN FORM-->
	  <form action="#" class="form-horizontal">
		  <h3 class="form-section">Risk Info</h3>
		  <div class="row-fluid">
			  <div class="span3 ">
				  <div class="control-group">
					  <label class="control-label">Risk:</label>
					  <div class="controls">
						  <input type="text" class="m-wrap span12" <%= f.text_field :risk %> 
					  </div>
				  </div>
			  </div> 
			  <!--/span-->
			  <div class="span3 ">
				  <label class="control-label">Premium:</label>
				  <div class="controls">
					  <input type="text" class="m-wrap span12"<%= f.text_field :premium %>
				  </div>
			  </div>
			  <!--/span-->
			  <div class="span3 ">
				  <label class="control-label">Limits:</label>
				  <div class="controls">
					  <input type="text" class="m-wrap span12"<%= f.text_field :limit %>
				  </div>
			  </div>
			  <!--/span-->
			  <div class="span3 ">
				  <label class="control-label">Deductible:</label>
				  <div class="controls">
					  <input type="text" class="m-wrap span12"<%= f.text_field :deductible %>
				  </div>
			  </div>
		  </div>
		  
		  <!--/row-->
		  <div class="form-actions">
			  <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
			  <button type="button" class="btn">Cancel</button>
		  </div>
	  </form>
	  <!-- END FORM--> 
  </div>
</div>       

<% end %>
  
