<h3 class="page-title">
	Insurance Rating<small> demonstration Ruby on Rails project</small>
</h3>
<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i>
		<a href="/">Home</a> 
	</li>
</ul>
<h1>Listing risks</h1>

<table class="table-bordered table-striped table-condensed flip-content">
  <thead class="flip-content">
    <tr>
	  <th>Risk</th>
      <th>Premium</th>
      <th>Deductible</th>
      <th>Limit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @risks.each do |risk| %>
      <tr>
		<td><%= risk.risk %></td>
        <td><%= number_to_currency(risk.premium) %></td>
        <td><%= number_to_currency(risk.deductible) %></td>
        <td><%= number_to_currency(risk.limit) %></td>
        <td><%= link_to 'Show', risk %></td>
        <td><%= link_to 'Edit', edit_risk_path(risk) %></td>
        <td><%= link_to 'Destroy', risk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Risk', new_risk_path %>
