<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proposal_no %><br>
    <%= f.text_field :proposal_no %>
  </div>
  <div class="field">
    <%= f.label :submission_id %><br>
    <%= f.text_field :submission_id %>
  </div>
  <div class="field">
    <%= f.label :policy_id %><br>
    <%= f.text_field :policy_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
