<%= form_for(@deductible) do |f| %>
  <% if @deductible.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deductible.errors.count, "error") %> prohibited this deductible from being saved:</h2>

      <ul>
      <% @deductible.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :spec_causes %><br>
    <%= f.text_field :spec_causes %>
  </div>
  <div class="field">
    <%= f.label :comp %><br>
    <%= f.text_field :comp %>
  </div>
  <div class="field">
    <%= f.label :coll %><br>
    <%= f.text_field :coll %>
  </div>
  <div class="field">
    <%= f.label :submission_id %><br>
    <%= f.text_field :submission_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
