<%= form_for(@deductible) do |f| %>
  <% if @deductible.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deductible.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @deductible.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container-fluid">
	  <!-- BEGIN FORM-->
	  <form action="#" class="form-horizontal">
		  <h3 class="form-section">Deductible info</h3>
		  <div class="row-fluid">
			  
  			 <div class="span3 ">
  				 <div class="control-group" id="risk-option">
  					 <label class="control-label">Risk</label>
  					 <div class="controls">
  						 <select class="m-wrap span12"<%= f.collection_select(:risk_id, Risk.all, :id, :risk, options = {:prompt => 'Select One'} ) %> </select>
  					 </div>
  				 </div>
  			 </div>
			  
			  <div class="span3 ">
				  <div class="control-group">
					  <label class="control-label">Specified Causes
					  </label>
					  <div class="controls">
						  <input type="text" class="m-wrap span12"<%= f.text_field :spec_causes %>
					  </div>
				  </div>
			  </div>
		  
			  <div class="span3 ">
				  <div class="control-group">
					  <label class="control-label" >Comprehensive
					  </label>
					  <div class="controls">
						  <select class="m-wrap span12"<%= f.select :comp, [ 'Full Coverage', '50', '100'], :prompt => 'Select One' %>
						  </select>
					  </div>
				  </div>
			  </div>
			  
			  <div class="span3 ">
				  <div class="control-group">
					  <label class="control-label" >Collision
					  </label>
					  <div class="controls">
						  <select class="m-wrap span12"<%= f.select :coll, [ '100', '250', '500', '1000'], :prompt => 'Select One' %>
						  </select>
					  </div>
				  </div>
			  </div>
		  </div>
		  <!--/row-->
		  <div class="form-actions">
			  <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
			  <button type="button" class="btn">Cancel</button>
		  </div>
	  </form>
	  <!-- END FORM--> 
  </div>
</div>

<% end %>
