<h3 class="page-title">
	Insurance Rating<small> demonstration Ruby on Rails project</small>
</h3>
<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i>
		<a href="/">Home</a>
		<i class="icon-angle-left"></i> 
	</li>
	<li>
		<a href="/accounts">Accounts List</a>
	</li>
</ul>
<h1>Listing deductibles</h1>

<table class="table-bordered table-striped table-condensed flip-content">
  <thead class="flip-content">
    <tr>
	  <th>Risk</th>
	  <th>Specified Causes</th>
      <th>Comprehensive</th>
      <th>Collision</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @deductibles.each do |deductible| %>
      <tr>
        <td><%= deductible.risk.risk %></td>
		<td><%= number_to_currency(deductible.spec_causes) %></td>
        <td><%= number_to_currency(deductible.comp) %></td>
        <td><%= number_to_currency(deductible.coll) %></td>
        <td><%= link_to 'Show', deductible %></td>
        <td><%= link_to 'Edit', edit_deductible_path(deductible) %></td>
        <td><%= link_to 'Destroy', deductible, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deductible', new_deductible_path %>
