<%= form_for :form_partial, remote: true  do |f|%>

	<form action="#" class="form-horizontal">
		
		<% if @submission.risk.risk == "Private Passenger"%>
			<%= render :partial => "shared/details/private_passenger" %>
		
		<% elsif @submission.risk.risk  == "Truck"%>
			<%= render :partial => "shared/details/truck" %>
			
		<% elsif @submission.risk.risk  == "Truck-Tractor"%>
			<%= render :partial => "shared/details/truck" %>
			
		<% elsif @submission.risk.risk  == "Trailer" %>
			<%= render :partial => "shared/details/trailer" %>
			
		<% elsif @submission.risk.risk  == "Semi-Trailer" %>
			<%= render :partial => "shared/details/trailer" %>
		
		<% else @submission.risk.risk  == "Utility/Service Trailer" %>
			<%= render :partial => "shared/details/trailer" %>
			
		<% end %>
		
	</form>

<% end %>