<%= form_for :truck, remote: true  do |f|%>
    <% if @truck.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@truck.errors.count, "error") %> prohibited this deductible from being saved:</h2>

        <ul>
        <% @truck.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>

<div class="container-fluid">
	<!-- BEGIN FORM-->
	<form action="#" class="form-horizontal">
		<div class="row-fluid">
			<!--/span-->
			<div class="span6 ">
				<div class="control-group">
					<label class="control-label">Type</label>
					<div class="controls">
						<select class="m-wrap span12"<%= f.select :type, [ 'Truck', 'Truck-Tractor'], :prompt => 'Select One' %></select>
					</div>
				</div>
			</div>
			
			<div class="span6 ">
				<div class="control-group">
					<label class="control-label">Territory Code</label>
					<div class="controls">
						<input type="text" class="m-wrap span12" <%= f.number_field :territory %>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span4 ">
				<div class="control-group">
					<label class="control-label">Business Use</label>
					<div class="controls">
						<select class="m-wrap span12"<%= f.select :business_use, [ 'Service', 'Retail', 'Commercial'], :prompt => 'Select One' %></select>
					</div>
				</div>
			</div>
		
			<div class="span4 ">
				<div class="control-group">
					<label class="control-label">Fleet/Non-Fleet</label>
					<div class="controls">
						<select class="m-wrap span12"<%= f.select :fleet_nonfleet, [ 'Fleet', 'Non-Fleet'], :prompt => 'Select One' %></select>
					</div>
				</div>
			</div>
			<!--/span-->
			<div class="span4 ">
				<div class="control-group">
					<label class="control-label">Make</label>
					<div class="controls">
						<input type="text" class="m-wrap span12" <%= f.text_field :make %>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span4 ">
				<div class="control-group">
					<label class="control-label">Model Year</label>
					<div class="controls">
						<input type="text" class="m-wrap span12" <%= f.text_field :year %>
					</div>
				</div>
			</div>
			<!--span-->
			
			<div class="span4 ">
				<div class="control-group">
					<label class="control-label">Cost New</label>
					<div class="controls">
						<input type="text" class="m-wrap span12" <%= f.text_field :cost_new %>
					</div>
				</div>
			</div>
		
			<div class="span4 ">
				<div class="control-group">
					<label class="control-label">Age Group</label>
					<div class="controls">
						<select class="m-wrap span12"<%= f.select :age_group, [ '1', '2', '3', '4', '5', '6'], :prompt => 'Select One' %></select>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span4 ">
				<div class="control-group">
					<label class="control-label" >Size Class</label>
					<div class="controls">
						<select class="m-wrap span12"
						<%= f.select :size_class, [ 'Up to 10,000 lbs.', '10,001 - 20,000 lbs.', '20,001 -45,000 lbs.', 'Over 45,000 lbs.', ], :prompt => 'Select One' %></select>
					</div>
				</div>
			</div>
			<!--span-->
		
			<div class="span4 ">
				<div class="control-group">
					<label class="control-label">Gross Vehicle Weight</label>
					<div class="controls">
						<input type="text" class="m-wrap span12" <%= f.text_field :gvw %>
					</div>
				</div>
			</div>
			<!--span-->
			<div class="span4 ">
				<div class="control-group">
					<label class="control-label">Gross Combination Weight</label>
					<div class="controls">
						<input type="text" class="m-wrap span12" <%= f.text_field :gcw %>
					</div>
				</div>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn blue", details_path(submission_id: submission)><i class="icon-ok"></i> Save</button>
			<button type="button" class="btn">Cancel</button>
		</div>
	</form>
</div>
 
  
<% end %>  
