<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @detail.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @detail.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @detail.year %>
</p>

<p>
  <strong>Cost new:</strong>
  <%= @detail.cost_new %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @detail.age_group %>
</p>

<p>
  <strong>Territory:</strong>
  <%= @detail.territory %>
</p>

<p>
  <strong>Size class:</strong>
  <%= @detail.size_class %>
</p>

<p>
  <strong>Load capacity:</strong>
  <%= @detail.load_capacity %>
</p>

<p>
  <strong>Fleet nonfleet:</strong>
  <%= @detail.fleet_nonfleet %>
</p>

<p>
  <strong>Spec causes:</strong>
  <%= @detail.spec_causes %>
</p>

<p>
  <strong>Gvw:</strong>
  <%= @detail.gvw %>
</p>

<p>
  <strong>Gcw:</strong>
  <%= @detail.gcw %>
</p>

<p>
  <strong>Business use:</strong>
  <%= @detail.business_use %>
</p>

<p>
  <strong>Radius class:</strong>
  <%= @detail.radius_class %>
</p>

<p>
  <strong>Submission:</strong>
  <%= @detail.submission %>
</p>

<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
